<div class="container">
    <span class="contact3-form-small-title">
        Request on the Floor
    </span>
    <br>
    <div class="row">
        <div class="col">
            <label for="business">Choose Floor</label>
        </div>
        <div class="col">
            <select [(ngModel)]="requestOnFloor" class="select-css">
                <option value={{floor}} *ngFor="let floor of noOfFloors">{{floor}}</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
            <button type="button"(click)="requestElevator('UP')" class="btn btn-light" style="float: right; width: 100px;">UP</button>
        </div>
        <div class="col">
            <button type="button" (click)="requestElevator('DOWN')" class="btn btn-light" style="width: 100px;">DOWN</button>
        </div>
    </div>
    <br>

    <span class="contact3-form-small-title">
        Request Inside Elevator
    </span>
    <br>

    <div class="row">
        <div class="col">
            <label for="business">Choose Elevator</label>
        </div>
        <div class="col">
            <select [(ngModel)]="selectedElevator" class="select-css">
                <option value={{elevator}} *ngFor="let elevator of noOfElevators">{{elevator}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="business">Choose Floor</label>
        </div>
        <div class="col">
            <select [(ngModel)]="selectedFloorInElevator" class="select-css">
                <option value={{floor}} *ngFor="let floor of noOfFloors">{{floor}}</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <button type="button" (click)="requestInsideElevator()" class="btn btn-light" style="width: 100px;">SEND</button>
        </div>
    </div>
</div>