<div class="container">
    <span class="contact3-form-small-title">
        Request on the Floor
    </span>
    <br>
    <div class="row">
        <div class="col">
            <label for="business">Choose Floor</label>
        </div>
        <div class="col">
            <select class="select-css">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
            <button type="button" class="btn btn-light" style="float: right; width: 100px;">UP</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-light" style="width: 100px;">DOWN</button>
        </div>
    </div>
    <br>

    <span class="contact3-form-small-title">
        Request Inside Elevator
    </span>
    <br>

    <div class="row">
        <div class="col">
            <label for="business">Choose Elevator</label>
        </div>
        <div class="col">
            <select class="select-css">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="business">Choose Floor</label>
        </div>
        <div class="col">
            <select class="select-css">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <button type="button" class="btn btn-light" style="width: 100px;">SEND</button>
        </div>
    </div>
</div>